@charset "utf-8";
/* CSS Document */
@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

h1 {font-family: 'Bebas Neue', cursive;}

.lead {font-family: 'Roboto', sans-serif;}

.btn-success {
    background-color: #1D1616;
    border-color: #94A6A2;
  }

.btn-primary{
    background-color: #CEADD1;
    border-color: #CEADD1
    color:#070707;
}

.btn-primary:hover {
    color: #fff;
    background-color: #B1AEEF;
    border-color: #070707;
  }

  .btn-primary:focus, .btn-primary.focus {
    color: #fff;
    background-color: #94A6A2;
    border-color: #070707;
    box-shadow: 0 0 0 0.2rem rgba(255, 42, 38, 0.5);
  }

  .btn-primary:not(:disabled):not(.disabled):active, .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-primary.dropdown-toggle {
  color: #fff;
  background-color: #E8AAAB;
  border-color:#070707;
}

.navbar-brand { color:navbar-brand}


